img {
  width: 94%;
}

.list-img {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .card-body {
    font-size: 24px;
  }
  .card-body>a{
    display: block;
    width: 100%;
    padding: 6px;
  }
}

.list-item {
  .card {
  }
  margin: 10px 0;
}
